/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

/* Import flowbite styles */
@import 'flowbite/dist/flowbite.css';

/* Import Swiper styles */

@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

/* Import tailwind styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Prompt, sans-serif;
  --color-black: '#000';
}

.swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  @apply h-20 w-full;
}

.swiper-button-next,
.swiper-button-prev {
  @apply bg-white p-[1.2rem] rounded-[50%] w-[32px] h-[32px] ease-in-out duration-200;
  color: var(--color-black);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-[13px];
}

button[aria-label='Close'] {
  left: 1.2rem;
  right: auto;
  top: 1.6rem;
  border-radius: 25px;
  position: absolute;
  @apply bg-gray-100;
}

div.masonry {
  justify-content: left;
  width: auto;
}
